# Web Scraping Assighnemt - 4

####  Read all the problem statements, notes carefully and scrape the required data using any web scraping tool of your choice.
####  You have to handle commonly occurring EXCEPTIONS by using exception handling programing. To get information about selenium Exceptions. You may visit following links:
1. https://selenium-python.readthedocs.io/api.html
2. https://www.guru99.com/exception-handling-selenium.html
3. https://stackoverflow.com/questions/38022658/selenium-python-handling-no-such-element-exception/38023345

### Question No.1 : 

Scrape the details of most viewed videos on YouTube from Wikipedia:

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [1]:
# Let's import the necessary libraries for scraping

import selenium
from selenium import webdriver
import pandas as pd
import time


# connecting to the browser
driver = webdriver.Chrome("chromedriver.exe")
print(driver)


# open the url www.amazon.in
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/"
driver.get(url)


link = driver.find_element_by_xpath('//span[@class="plainlinks"]//a')
link.click()

details = driver.find_element_by_xpath('//li[@class="mw-search-result"]//div//a')
details.click()

time.sleep(5)

# Rank

rank = []
ran = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]//tbody//tr//td[1][@align="center"]')
for i in ran:
    rank.append(i.text)

# Names

names = []
name = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]//tbody//tr//td[2]')
for i in name:
    names.append(i.text)

# Artist

Artist = []
artist = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]//tbody//tr//td[3]')
for i in artist:
    Artist.append(i.text)

# Upload Date

views = []
view = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]//tbody//tr//td[4]')
for i in view:
    views.append(i.text)

    
# Views

upload_date = []
upload = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"][1]//tbody//tr//td[5]')
for i in upload:
    upload_date.append(i.text)

# Data Frame
    
Most_Viewd_Videos = pd.DataFrame()
Most_Viewd_Videos["Rank"] = rank
Most_Viewd_Videos["Name"] = names
Most_Viewd_Videos["Artist"] = Artist
Most_Viewd_Videos["Views (Billions)"] = views
Most_Viewd_Videos["Upload Date"] = upload_date

Most_Viewd_Videos

<selenium.webdriver.chrome.webdriver.WebDriver (session="7a94ae0343a7a69517490583793a5206")>

,Rank,Name,Artist,Views (Billions),Upload Date
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,9.20,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.50,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.65,"October 8, 2016"
3,4.,"""Shape of You""[26]",Ed Sheeran,5.43,"January 30, 2017"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.23,"April 6, 2015"
5,6.,"""Bath Song""[30]",Cocomelon – Nursery Rhymes,4.47,"May 2, 2018"
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[31]",Miroshka TV,4.45,"February 27, 2018"
7,8.,"""Masha and the Bear – Recipe for Disaster""[32]",Get Movies,4.45,"January 31, 2012"
8,9.,"""Uptown Funk""[33]",Mark Ronson,4.27,"November 19, 2014"
9,10.,"""Gangnam Style""[34]",Psy,4.16,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[36]",ChuChu TV,4.10,"March 6, 2014"
11,12.,"""Dame Tu Cosita""[37]",El Chombo,3.54,"April 5, 2018"
12,13.,"""Sugar""[38]",Maroon 5,3.54,"January 14, 2015"
13,14.,"""Sorry""[39]",Justin Bieber,3.46,"October 22, 2015"
14,15.,"""Roar""[40]",Katy Perry,3.41,"September 5, 2013"
15,16.,"""Counting Stars""[41]",OneRepublic,3.37,"May 31, 2013"
16,17.,"""Thinking Out Loud""[42]",Ed Sheeran,3.31,"October 7, 2014"
17,18.,"""Wheels on the Bus""[43]",Cocomelon – Nursery Rhymes,3.23,"May 24, 2018"
18,19.,"""Dark Horse""[44]",Katy Perry,3.13,"February 20, 2014"
19,20.,"""Faded""[45]",Alan Walker,3.12,"December 3, 2015"
20,21.,"""Girls Like You""[46]",Maroon 5,3.10,"May 31, 2018"
21,22.,"""Shake It Off""[47]",Taylor Swift,3.09,"August 18, 2014"
22,23.,"""Lean On""[48]",Major Lazer,3.08,"March 22, 2015"
23,24.,"""Bailando""[49]",Enrique Iglesias,3.08,"April 11, 2014"
24,25.,"""Let Her Go""[50]",Passenger,3.06,"July 25, 2012"
25,26.,"""Mi Gente""[51]",J Balvin,2.96,"June 29, 2017"
26,27.,"""Axel F""[52]",Crazy Frog,2.95,"June 16, 2009"
27,28.,"""Perfect""[53]",Ed Sheeran,2.93,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[54]",Shakira,2.92,"June 4, 2010"
29,30.,"""Hello""[55]",Adele,2.87,"October 22, 2015"

### Question No. 2 :

Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [2]:
# Let's import the necessary libraries for scraping

import selenium
from selenium import webdriver
from selenium.common.exceptions import ElementNotInteractableException
import pandas as pd
import time


# connecting to the browser
driver = webdriver.Chrome("chromedriver.exe")
print(driver)


# open the url www.amazon.in
url = "https://www.bcci.tv/."
driver.get(url)

time.sleep(5)

# Going to International Fixture Section

fixture_link = []
fixture = driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a')
fixture_link.append(fixture.get_attribute("href"))

# Create & Fill the required fields

for i in fixture_link:
    driver.get(i)
    time.sleep(3)
    match_title = []
    series = []
    place = []
    date = []
    time = []
    title = driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
    ser = driver.find_elements_by_xpath('//span[@class="u-unskewed-text fixture__tournament-label u-truncated"]')
    pla = driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]//span')
    dat = driver.find_elements_by_xpath('//span[@class="fixture__datetime tablet-only"]//strong')
    tim = driver.find_elements_by_xpath('//span[@class="fixture__time"]')
    for j in title:
        match_title.append(j.text)
    for j in ser:
        series.append(j.text)
    for j in pla:
        place.append(j.text)
    for j in dat:
        date.append(j.text)
    for j in tim:
        time.append(j.text)

# Data Frame        
        
Match_Details = pd.DataFrame()
Match_Details["Match Title"] = match_title
Match_Details["Series"] = series
Match_Details["Place"] = place
Match_Details["Date"] = date
Match_Details["Time"] = time

Match_Details

<selenium.webdriver.chrome.webdriver.WebDriver (session="e333fa5e11c8b7f35650ad6175022ab5")>

,Match Title,Series,Place,Date,Time
0,4th Test,ENGLAND V INDIA 2021,"The Oval, London",,15:30 IST
1,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",,15:30 IST
2,Match 16,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",,19:30 IST
3,Match 28,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",,19:30 IST
4,Match 33,2021 ICC MEN'S T20 WORLD CUP,"Sheikh Zayed Cricket Stadium, Abu Dhabi",,19:30 IST
5,Match 37,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",,19:30 IST
6,Match 42,2021 ICC MEN'S T20 WORLD CUP,"Dubai International Cricket Stadium, Dubai",,19:30 IST

### Question No.3 :

Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [3]:
# Let's import the necessary libraries

import pandas as pd
import selenium
from selenium import webdriver
import time

# Connecting to the driver

driver = webdriver.Chrome("chromedriver.exe")
print(driver)

# Connecting to the webpage "https://www.guru99.com/"

url = "https://www.guru99.com/"
driver.get(url)

# Click on selenium in Testing Section

click_on_selenium = driver.find_element_by_xpath('//*[@id="java_technologies"]/li[3]/a')
click_on_selenium.click()

time.sleep(5)

# Clic on Selenium Exception Handling

selenium_exception = driver.find_element_by_xpath('//*[@id="post-193"]/div/div/table[5]/tbody/tr[34]/td[1]/a')
selenium_exception.click()

# Names

names = []
name = driver.find_elements_by_xpath('//table[@class="table table-striped"]//tr//td[1]')
for i in name:
    names.append(i.text)


# Description

description = []
desc = driver.find_elements_by_xpath('//table[@class="table table-striped"]//tr//td[2]')
for i in desc:
    description.append(i.text)
    
# Data Frame

Details = pd.DataFrame()
Details["Name"] = names
Details["Description"] = description

Details

<selenium.webdriver.chrome.webdriver.WebDriver (session="7bd38920d10efca7d48e450907e66133")>

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

### Question No.4 :

Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP at current price (19-20)

D) GSDP at current price (18-19)

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [4]:
# Let's import the necessary libraries for scraping

import selenium
from selenium import webdriver
import pandas as pd
import time


# connecting to the browser
driver = webdriver.Chrome("chromedriver.exe")
print(driver)


# open the url www.amazon.in
url = "http://statisticstimes.com/"
driver.get(url)

time.sleep(5)

# Click on India in Economy Section

india_link = []
india = driver.find_element_by_xpath('//div[@class="navbar"]//div[2]//a[3]')
india_link.append(india.get_attribute("href"))

time.sleep(5)

# Click on GDP of indian states

for i in india_link:
    driver.get(i)
    india_gdp = driver.find_element_by_xpath('//ul[@style="list-style-type:none;margin-left:20px;"]//li[1]//a')
    india_gdp.click()
    
    time.sleep(5)
    
    # Create empty required lists
    
    rank = []
    state = []
    gsdp_19_20 = []
    gsdp_18_19 = []
    share_18_19 = []
    gdp_billion = []
    
    # Finding the all elements
    
    rnk = driver.find_elements_by_xpath('//table[@id="table_id"]//tbody//tr/td[1]')
    stat = driver.find_elements_by_xpath('//table[@id="table_id"]//tbody//tr/td[2]')
    gsd_19_20 = driver.find_elements_by_xpath('//table[@id="table_id"]//tbody//tr/td[3]')
    gsd_18_19 = driver.find_elements_by_xpath('//table[@id="table_id"]//tbody//tr/td[4]')
    share = driver.find_elements_by_xpath('//table[@id="table_id"]//tbody//tr/td[5]')
    billion = driver.find_elements_by_xpath('//table[@id="table_id"]//tbody//tr/td[6]')
    
    # Filling the all empty lists
    
    for j in rnk:
        rank.append(j.text)
    for j in stat:
        state.append(j.text)
    for j in gsd_19_20:
        gsdp_19_20.append(j.text)
    for j in gsd_18_19:
        gsdp_18_19.append(j.text)
    for j in share:
        share_18_19.append(j.text)
    for j in billion:
        gdp_billion.append(j.text)
        
# Data Frame
    
State_wise_GDP = pd.DataFrame()
State_wise_GDP["Rank"] = rank
State_wise_GDP["State"] = state
State_wise_GDP["GSDP at current price (19-20)"] = gsdp_19_20
State_wise_GDP["GSDP at current price (18-19)"] = gsdp_18_19
State_wise_GDP["Share(18-19)"] = share_18_19
State_wise_GDP["GDP($ billion)"] = gdp_billion

State_wise_GDP

<selenium.webdriver.chrome.webdriver.WebDriver (session="b1c2c08ec97c03baa99d3690c4d00f5a")>

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

### Question No. 5 :

Scrape the details of trending repositories on Github.com.

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [5]:
# Let's import the necessary libraries for scraping

import selenium
from selenium import webdriver
import pandas as pd
import time


# connecting to the browser
driver = webdriver.Chrome("chromedriver.exe")
print(driver)


# open the url www.amazon.in
url = "https://github.com/"
driver.get(url)

time.sleep(3)

# Find the trending link from Explore

trending = []
tren = driver.find_element_by_xpath('//ul[2][@class="list-style-none mb-3"]//li[3]//a')
trending.append(tren.get_attribute("href"))

# Going to trending option

for i in trending:
    driver.get(i)
    time.sleep(3)
    
    # Create required empty lists
    
    title = []
    description = []
    count = []
    language = []
    
    # Finding the all elements
    
    tit = driver.find_elements_by_xpath('//article[@class="Box-row"]//h1')
    des = driver.find_elements_by_xpath('//article[@class="Box-row"]//p')
    cou = driver.find_elements_by_xpath('//div[@class="f6 color-text-secondary mt-2"]//span[3]')
    lang = driver.find_elements_by_xpath('//div[@class="f6 color-text-secondary mt-2"]//span//span[2]')
    
    # Filling the all empty lists
    
    for j in tit:
        try:
            title.append(j.text)
        except:
            title.append("-")
    for j in des:
        try:
            description.append(j.text)
        except:
            description.append("-")
    for j in cou:
        try:
            count.append(j.text)
        except:
            count.append("-")
    for j in lang:
        try:
            language.append(j.text)
        except:
            language.append("-")
            
# Data Frame

Top_5_Trending_Repositories = pd.DataFrame(index = list(range(1,6)))
Top_5_Trending_Repositories["Repository Title"] = title[:5]
Top_5_Trending_Repositories["Repository Description"] = description[:5]
Top_5_Trending_Repositories["Contributors Count"] = count[:5]
Top_5_Trending_Repositories["Language Used"] = language[:5]

Top_5_Trending_Repositories

<selenium.webdriver.chrome.webdriver.WebDriver (session="ea4bb2914dd1f301d262205a4ee0f84e")>

,Repository Title,Repository Description,Contributors Count,Language Used
1,jina-ai / jina,Cloud-native neural search framework for 𝙖𝙣𝙮 k...,306 stars today,Python
2,TheAlgorithms / C-Plus-Plus,Collection of various algorithms in mathematic...,156 stars today,C++
3,netbox-community / netbox,Infrastructure resource modeling for network a...,117 stars today,Python
4,CyberPunkMetalHead / binance-trading-bot-new-c...,This Binance trading bot detects new coins as ...,90 stars today,Python
5,ClassmateLin / jd_scripts,Scripts,84 stars today,Python

### Question No. 6 :

Scrape the details of top 100 songs on billboard.com.

Url = https://www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [6]:
# Let's import the necessary libraries for scraping

import selenium
from selenium import webdriver
import pandas as pd
import time


# connecting to the browser
driver = webdriver.Chrome("chromedriver.exe")
print(driver)


# open the url www.amazon.in
url = "https://www.billboard.com/"
driver.get(url)

time.sleep(3)

# Find the hot-100 link page

hot_100 = []
hot = driver.find_element_by_xpath('//span[@class="header__submenu__container"]//li[1]//a')
hot_100.append(hot.get_attribute("href"))

# Going to hot-100 link page

for i in hot_100:
    driver.get(i)
    time.sleep(5)
    
    # Create required empty lists
    
    song = []
    artist = []
    last_weak = []
    peak_rank = []
    on_board = []
    
    # Finding the all elements
    
    sng = driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
    artst = driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
    lst_wk = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
    pek_rnk = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
    on_brd = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
    
    # Filling the all empty lists
    
    for j in sng:
        try:
            song.append(j.text)
        except:
            song.append("-")
    for j in artst:
        try:
            artist.append(j.text)
        except:
            artist.append("-")
    for j in lst_wk:
        try:
            last_weak.append(j.text)
        except:
            last_weak.append("-")
    for j in pek_rnk:
        try:
            peak_rank.append(j.text)
        except:
            peak_rank.append("-")
    for j in on_brd:
        try:
            on_board.append(j.text)
        except:
            on_board.append("-")
            
# Data Frame

Top_100_Songs = pd.DataFrame(index = list(range(1,101)))
Top_100_Songs["Song Name"] = song
Top_100_Songs["Artist Name"] = artist
Top_100_Songs["Last Week Rank"] = last_weak
Top_100_Songs["Peak Rank"] = peak_rank
Top_100_Songs["Weeks on Board"] = on_board

Top_100_Songs

<selenium.webdriver.chrome.webdriver.WebDriver (session="74dfa5eb24800956999f7bc5a95c7aae")>

,Song Name,Artist Name,Last Week Rank,Peak Rank,Weeks on Board
1,Stay,The Kid LAROI & Justin Bieber,1,1,7
2,Bad Habits,Ed Sheeran,2,2,9
3,Good 4 U,Olivia Rodrigo,3,1,15
4,Kiss Me More,Doja Cat Featuring SZA,5,3,20
5,Industry Baby,Lil Nas X & Jack Harlow,7,2,5
...,...,...,...,...,...
96,Tick Tock,Young Thug,-,96,1
97,Permission To Dance,BTS,66,1,7
98,AM,Nio Garcia X J Balvin X Bad Bunny,85,41,9
99,Time Heals,Rod Wave,-,99,1
100,Thinking 'Bout You,Dustin Lynch Featuring Lauren Alaina Or MacKen...,91,91,2

### Question No. 7 :

Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/

You have to find the following details:

A) Name

B) Designation

C) Company

D) Skills they hire for

E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [7]:
# Let's import the necessary libraries for scraping

import selenium
from selenium import webdriver
import pandas as pd
import time


# connecting to the browser
driver = webdriver.Chrome("chromedriver.exe")
print(driver)


# open the url www.amazon.in
url = "https://www.naukri.com/"
driver.get(url)

time.sleep(3)

# Find the Recruiter Link

recruiter = []
rect = driver.find_element_by_xpath('//a[@title="Search Recruiters"]')
recruiter.append(rect.get_attribute("href"))

for i in recruiter:
    driver.get(i)
    time.sleep(3)
    
    # Sending the required keys to search box
    keys = driver.find_element_by_xpath('//input[@class="sugInp"]').send_keys("Data Science")

    # Click on Search Button
    driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]').click()
    
    # Create required empty lists
    
    name = []
    designation = []
    company = []
    skills = []
    location = []
    
    # Finding the all elements
    
    nam = driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
    des = driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
    com = driver.find_elements_by_xpath('//a[2][@class="ellipsis"]')
    skil = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
    loc = driver.find_elements_by_xpath('//p[@class="highlightable"]//small')
    
    # Filling the all empty lists
    
    for j in nam:
        try:
            name.append(j.text)
        except:
            name.append("-")
    for j in des:
        try:
            designation.append(j.text)
        except:
            designation.append("-")
    for j in com:
        try:
            company.append(j.text)
        except:
            company.append("-")
    for j in skil:
        try:
            skills.append(j.text)
        except:
            skills.append("-")
    for j in loc:
        try:
            location.append(j.text)
        except:
            location.append("-")
            
# Data Frame

Recruiter = pd.DataFrame(index = list(range(1,26)))
Recruiter["Name"] = name[:25]
Recruiter["Designation"] = designation[:25]
Recruiter["Company"] = company[:25]
Recruiter["Skills"] = skills[:25]
Recruiter["Location"] = location[:25]

Recruiter

<selenium.webdriver.chrome.webdriver.WebDriver (session="48b9dff5aaff3d034fce5f9095928445")>

,Name,Designation,Company,Skills,Location
1,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
2,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
3,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
4,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
7,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
9,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
16,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
17,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
18,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune

### Question No. 8 :

Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [8]:
# Let's import the necessary libraries for scraping

import selenium
from selenium import webdriver
import pandas as pd
import time


# connecting to the browser
driver = webdriver.Chrome("chromedriver.exe")
print(driver)


# open the url www.amazon.in
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)

time.sleep(3)

# Empty Lists

book_name = []
author_name = []
volume_sold = []
publisher = []
genre = []

# Book Name

book = driver.find_elements_by_xpath('//td[2][@class="left"]')
for i in book:
    book_name.append(i.text)

# Author Name
    
author = driver.find_elements_by_xpath('//td[3][@class="left"]')
for i in author:
    author_name.append(i.text)
    
# Volume Sold
    
volume = driver.find_elements_by_xpath('//td[4][@class="left"]')
for i in volume:
    volume_sold.append(i.text)
    
# Publisher
    
publish = driver.find_elements_by_xpath('//td[5][@class="left"]')
for i in publish:
    publisher.append(i.text)
    
# Genre
    
genr = driver.find_elements_by_xpath('//td[6][@class="last left"]')
for i in genr:
    genre.append(i.text)
    
# Data Frame

Top_100_Best_Selling = pd.DataFrame(index = list(range(1,101)))
Top_100_Best_Selling["Book Name"] = book_name
Top_100_Best_Selling["Author Name"] = author_name
Top_100_Best_Selling["Volumes Sold"] = volume_sold
Top_100_Best_Selling["Publisher"] = publisher
Top_100_Best_Selling["Genre"] = genre

Top_100_Best_Selling

<selenium.webdriver.chrome.webdriver.WebDriver (session="b687bfc5147915c63549fe4511dba64a")>

,Book Name,Author Name,Volumes Sold,Publisher,Genre
1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

### Question No. 9 :

Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [9]:
# Let's import the necessary libraries for scraping

import selenium
from selenium import webdriver
import pandas as pd
import time


# connecting to the browser
driver = webdriver.Chrome("chromedriver.exe")
print(driver)


# open the url www.amazon.in
url = "https://www.imdb.com/list/ls095964455/"
driver.get(url)

time.sleep(3)

# Empty Lists

name = []
years = []
genre = []
run = []
ratings = []
votes = []

# Show Name

nam = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]//a')
for i in nam:
    name.append(i.text)

# Year Span
    
year = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for i in year:
    years.append(i.text)
    
# Genre
    
genr = driver.find_elements_by_xpath('//span[@class="genre"]')
for i in genr:
    genre.append(i.text)
    
# Run Time
    
time = driver.find_elements_by_xpath('//span[@class="runtime"]')
for i in time:
    run.append(i.text)
    
# Ratings
    
rating = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]//span[2]')
for i in rating:
    ratings.append(i.text)
    
# Votes
    
vote = driver.find_elements_by_xpath('//span[@name="nv"]')
for i in vote:
    votes.append(i.text)
    
# Data Frame

Most_Watched_TV_Series = pd.DataFrame(index = list(range(1,101)))
Most_Watched_TV_Series["Name"] = name
Most_Watched_TV_Series["Year Span"] = years
Most_Watched_TV_Series["Genre"] = genre
Most_Watched_TV_Series["Runtime"] = run
Most_Watched_TV_Series["Rating"] = ratings
Most_Watched_TV_Series["Votes"] = votes

Most_Watched_TV_Series

<selenium.webdriver.chrome.webdriver.WebDriver (session="c43169c874d2733191ce805267fc0f97")>

,Name,Year Span,Genre,Runtime,Rating,Votes
1,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,865,316"
2,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"901,065"
3,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"893,504"
4,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"268,999"
5,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"229,215"
...,...,...,...,...,...,...
96,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,441"
97,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,307"
98,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"174,047"
99,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,429"
100,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"197,902"

### Question No. 10 :

Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [10]:
# Let's import the necessary libraries for scraping

import selenium
from selenium import webdriver
import pandas as pd
import time


# connecting to the browser
driver = webdriver.Chrome("chromedriver.exe")
print(driver)


# open the url www.amazon.in
url = "https://archive.ics.uci.edu/"
driver.get(url)

time.sleep(3)

# Click on View All Datasets

driver.find_element_by_xpath('//td//span[2][@class="whitetext"]//a').click()


    
# Create required empty lists
    
name = []
#types = []
task = []
att_type = []
instances = []
no_of_att = []
year = []
    
# Finding the all elements
    
nam = driver.find_elements_by_xpath('//p[@class="normal"]//b//a')
#typ = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr[2]/td[2]/p')   # Not found Xpath
tsk = driver.find_elements_by_xpath('//table[2]//tbody[1]//tr[1]//td[3]//p[@class="normal"]')
att_typ = driver.find_elements_by_xpath('//table[2]//tbody[1]//tr[1]//td[4]//p[@class="normal"]')
inst = driver.find_elements_by_xpath('//table[2]//tbody[1]//tr[1]//td[5]//p[@class="normal"]')
no_att = driver.find_elements_by_xpath('//table[2]//tbody[1]//tr[1]//td[6]//p[@class="normal"]')
yrs = driver.find_elements_by_xpath('//table[2]//tbody[1]//tr[1]//td[7]//p[@class="normal"]')
    
# Filling the all empty lists
    
for j in nam:
    try:
        name.append(j.text)
    except:
        name.append("-")
#for j in typ:
#    try:
#        types.append(j.text)
#    except:
#        types.append("-")
for j in tsk:
    try:
        task.append(j.text)
    except:
        task.append("-")
for j in att_typ:
    try:
        att_type.append(j.text)
    except:
        att_type.append("-")
for j in inst:
    try:
        instances.append(j.text)
    except:
        instances.append("-")
for j in no_att:
    try:
        no_of_att.append(j.text)
    except:
        no_of_att.append("-")
for j in yrs:
    try:
        year.append(j.text)
    except:
        year.append("-")
            
# Data Frame

Datasets_From_UCI = pd.DataFrame()
Datasets_From_UCI["Dataset Name"] = name
#Datasets_From_UCI["Dataset Type"] = types
Datasets_From_UCI["Task"] = task
Datasets_From_UCI["Attribute Type"] = att_type
Datasets_From_UCI["No. of Instances"] = instances
Datasets_From_UCI["No. of Attribute"] = no_of_att
Datasets_From_UCI["year"] = year

Datasets_From_UCI

<selenium.webdriver.chrome.webdriver.WebDriver (session="53a302c042b220c15274a6e70846c6d4")>

,Dataset Name,Task,Attribute Type,No. of Instances,No. of Attribute,year
0,Abalone,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Classification,,12684,23,2020
584,Gait Classification,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Regression,Real,557,5,2021